//- block setSummaryData
	-
		const dataSummary = {
			titleEn:  'The 10th Anniversary',
			titleZh:  '十周年',
			client:   'The Type · Type is Beautiful',
			category: 'Website',
			date:     '2017',
			path:     '/2017/tib10'
		}

.set-summary
	header.set-summary-header
		h1.set-summary-titleEn!= dataSummary.titleEn
		p.set-summary-titleZh!= dataSummary.titleZh
	footer.set-summary-info
		if dataSummary.clientLink
			p.set-summary-info-client
				a(href=dataSummary.clientLink)= dataSummary.client
		else
			p.set-summary-info-client= dataSummary.client
		p.set-summary-info-misc= dataSummary.category + ', ' + dataSummary.date
	a.set-backhome(href=assetsPath)
